<th:block th:fragment="userBadgeTemplate">
    <template id="user-badge-template">
        <div class="d-flex align-items-center text-decoration-none user-badge-template-div gap-2">
            <img
                 src="/test/images/PlaceholderIcon.png"
                 class="rounded-circle user-badge-template-image" height="30" width="30"  alt="User Image"/>
            <div class="d-flex flex-column user-name-div">
                <span class="me-1 d-inline user-badge-template-name"></span>
            </div>
        </div>
    </template>
</th:block>
