<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/generalHeadersFragment.html :: headers}"></th:block>
    <title>Update Password</title>
    <link rel="icon" th:src="@{/images/newlogo.svg}" type="image/x-icon">
</head>
<body style="padding-top:70px">

<nav th:replace="~{fragments/navBarFragment.html :: navBar(activeLink=${activeLink}, extraOffCanvasContent=${null})}"></nav>
<div class="mx-auto container-fluid px-6 py-4" style="max-width: 48rem;">
    <div class="container position-relative">
        <h3 class="m-0 text-center">Reset Password</h3>
        <form class="renovation-card" method="post" th:action="@{/reset-password}">
            <div class="w-100">
                <input class="d-none" id="token" name="token" th:value="${token}" type="text">
                <div class="form-group mb-3">
                    <label for="newPassword">New Password</label>
                    <input class="form-control" id="newPassword" name="newPassword"
                           placeholder="Enter your new password"
                           th:classappend="${newPasswordError} != null ? ' error' : ''"
                           type="password">
                    <th:block th:insert="~{fragments/errorMessageFragment.html :: errorMessage(${newPasswordError})}"/>
                </div>
                <div class="form-group mb-3">
                    <label for="confirmedNewPassword">Retype Password</label>
                    <input class="form-control" id="confirmedNewPassword" name="confirmedNewPassword"
                           placeholder="Retype your new password"
                           th:classappend="${confirmedNewPasswordError} != null ? ' error' : ''"
                           type="password">
                    <th:block
                            th:insert="~{fragments/errorMessageFragment.html :: errorMessage(${confirmedNewPasswordError})}"/>
                </div>

                <div class="d-flex flex-column-reverse flex-md-row justify-content-end gap-2">
                    <a class="button button-secondary" th:href="@{/userPage}">Cancel</a>
                    <button class="button button-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
