<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{fragments/generalHeadersFragment.html :: headers}"></th:block> /*/-->
    <title>Edit User Profile</title>
    <link rel="icon" th:src="@{/images/newlogo.svg}" type="image/x-icon">
</head>
<body style="padding-top:70px">

<nav th:replace="~{fragments/navBarFragment.html :: navBar(activeLink=${activeLink}, extraOffCanvasContent=${null})}"></nav>
<div class="mx-auto container-fluid px-6 py-4" style="max-width: 48rem;">
    <div class="container position-relative">
        <h3 class="m-0 text-center">Update Password</h3>
        <form class="renovation-card" method="post" th:action="@{/update-password}" th:object="${passwordUpdate}">
            <div class="w-100">
                <div class="form-group mb-3">
                    <label class="form-label" for="oldPassword">
                        Old Password
                        <th:block th:insert="~{fragments/requiredInputFragment.html :: requiredInput}"/>
                    </label>
                    <input class="form-control" id="oldPassword" placeholder="Enter your old password"
                           th:field="*{oldPassword}"
                           type="password">
                    <th:block th:insert="~{fragments/errorMessageFragment.html :: errorMessage(${oldPasswordError})}"/>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="newPassword">
                        New Password
                        <th:block th:insert="~{fragments/requiredInputFragment.html :: requiredInput}"/>
                    </label>
                    <input class="form-control" id="newPassword" placeholder="Enter your new password"
                           th:field="*{newPassword}"
                           type="password">
                    <th:block th:insert="~{fragments/errorMessageFragment.html :: errorMessage(${newPasswordError})}"/>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="retypedNewPassword">
                        Retype Password
                        <th:block th:insert="~{fragments/requiredInputFragment.html :: requiredInput}"/>
                    </label>
                    <input class="form-control" id="retypedNewPassword" placeholder="Retype your new password"
                           th:field="*{retypedNewPassword}" type="password">
                    <th:block
                            th:insert="~{fragments/errorMessageFragment.html :: errorMessage(${retypedNewPasswordError})}"/>
                </div>

                <div class="d-flex flex-column-reverse flex-md-row justify-content-end gap-2">
                    <a class="button button-secondary" th:href="@{/userPage}">Cancel</a>
                    <button class="button button-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>